@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

.certificate-container {
  max-width: 1000px;
  width: 100%;
}

.certificate {
  position: relative;
  padding: 24px 64px;
  border-radius: 25px;
  background: white;
  z-index: 0;
  overflow: hidden;
}

.certificate::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 2px;
  border-radius: 25px;
  /* background: linear-gradient(to right, #f67c16, #ed662c, #e92f5e, #c2185b); */
  /* -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0); */
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: -1;
}

.title-gradient {
  font-size: 100px;
  font-weight: 900;
  text-align: center;
  /* background: linear-gradient(to right, #f67c16, #ed662c, #e92f5e, #c2185b); */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  letter-spacing: 8px;
  display: flex;
  align-items: start;
  justify-content: center;
}

.top-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  gap: 40px;
}

.logo-item {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-item.center-logo {
  flex: 1.5;
}

.logo-placeholder {
  width: 100%;
  height: 80px;
  border: 2px dashed #ccc;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fafafa;
}

.badge-container {
  width: 100%;
  position: absolute;
  top: -26px;
  display: flex;
  align-items: center;
}
.badge {
  background: linear-gradient(to right, #f67c16, #ed662c, #e92f5e, #c2185b);
  color: white;
  text-align: center;
  padding: 15px 40px;
  border-radius: 50px;
  font-size: 20px;
  letter-spacing: 2px;
  margin: 0 auto 30px;
  max-width: fit-content;
}

.certificate-body {
  background: #fffbde;
  border-radius: 20px;
  border: 1px solid #dbbe7f;
  position: relative;
}

.cert-text {
  padding: 60px 40px 30px 30px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.cert-text p {
  font-size: 18px;
  padding-bottom: 2px;
  color: #333;
  line-height: 1.8;
}

.center-text {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <; */
  font-style: normal;
}

.cert-line {
  display: flex;
  align-items: center;
  gap: 10px;
}

.blank-line {
  flex: 1;
  border-bottom: 1px dotted #666;
  text-align: center;
}

.grade-line {
  margin-top: 30px;
}

.blank-line-grade {
  display: inline-block;
  width: 819px;
  border-bottom: 1px dotted #666;
  margin-right: 20px;
}

.blank-line-short {
  display: inline-block;
  width: 100px;
  border-bottom: 1px dotted #666;
  margin-left: 10px;
}

.signatures {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 0px 20px;
  margin-bottom: 20px;
}
.sign {
  width: 50px;
  height: 50px;
}
.sign_1 {
  width: 120px;
  height: 50px;
}

.signature-item_1 {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.signature-item_2 {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.signature-item_3 {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sig-name {
  font-weight: bold;
  font-size: 16px;
  color: #333;
  margin-bottom: 5px;
}

.sig-designation {
  font-size: 13px;
  font-weight: bold;
}

.bottom-logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  padding: 0 40px;
}

.bottom-logos {
  height: 100px;
}

.bottom-logos img {
  width: 100%;
}
@media print {
  body {
    background: white;
    padding: 0;
  }

  .certificate-container {
    max-width: 100%;
  }

  .certificate {
    page-break-inside: avoid;
  }
}

@media (max-width: 1024px) {
  .title-gradient {
    font-size: 90px;
    letter-spacing: 4px;
  }

  .badge {
    /* font-size: 16px; */
    padding: 12px 30px;
  }

  .blank-line-grade {
    width: 515px;
  }
}

@media (max-width: 768px) {
  .title-gradient {
    font-size: 40px;
    letter-spacing: 2px;
  }

  .certificate {
    padding: 20px 25px;
  }

  .top-logos,
  .bottom-logos {
    flex-direction: column;
    gap: 20px;
  }

  .logo-placeholder {
    height: 60px;
  }

  .badge {
    /* font-size: 14px; */
    padding: 10px 20px;
  }

  .certificate-body {
    padding: 25px 30px;
  }

  .signatures {
    flex-wrap: wrap;
  }

  .signature-item {
    flex-basis: 45%;
  }

  .blank-line-grade {
    width: 200px;
  }
}
