name: Quiz-steamkarnival

on:
  push:
    branches:
      - main

jobs:
  deploy-chatbot:
    name: Deploy to Chatbot Server (quiz-steamkarnival)
    runs-on: ubuntu-latest
    
    steps:
      - name: SSH to Chatbot Server
        env:
          SSH_SERVER_PRIVATE_KEY: ${{ secrets.SERVER_SSH_KEY }}
          SSH_SERVER_IP: ${{ secrets.SERVER_HOST }}
          SSH_SERVER_USER_NAME: ${{ secrets.SERVER_USER }}
        run: |
          mkdir -p $HOME/.ssh/
          echo "$SSH_SERVER_PRIVATE_KEY" > $HOME/.ssh/id_rsa
          chmod 600 $HOME/.ssh/id_rsa
          ssh -o StrictHostKeyChecking=no -i $HOME/.ssh/id_rsa "${SSH_SERVER_USER_NAME}@${SSH_SERVER_IP}" "/home/${SSH_SERVER_USER_NAME}/script/deploy.sh"

      - name: Cleanup PEM File
        run: |
          rm -f $HOME/.ssh/id_rsa
