name: devquiz.steamkarnival.com devquiz-uat

on:
  push:
    branches:
      - UAT

jobs:
  deploy-api-devquiz-uat:
    name: Deploy API (UAT) - devquiz.steamkarnival.com
    runs-on: ubuntu-latest

    steps:
      - name: SSH to API UAT Server
        env:
###          SSH_SERVER_PRIVATE_KEY: ${{ secrets.API_UAT_SSH_KEY }}
 #         SSH_SERVER_IP: ${{ secrets.API_UAT_HOST }}
  #        SSH_SERVER_USER_NAME: ${{ secrets.API_UAT_USER }}
          SSH_SERVER_PRIVATE_KEY: ${{ secrets.SSH_KEY }}
          SSH_SERVER_IP: ${{ secrets.SSH_HOST }}
          SSH_SERVER_USER_NAME: ${{ secrets.SSH_USER }}
          SSH_SERVER_PORT: ${{ secrets.SSH_PORT }}


        run: |
          mkdir -p $HOME/.ssh/
          echo "$SSH_SERVER_PRIVATE_KEY" > $HOME/.ssh/id_rsa
          chmod 600 $HOME/.ssh/id_rsa

          ssh -o StrictHostKeyChecking=no \
              -i $HOME/.ssh/id_rsa \
              "${SSH_SERVER_USER_NAME}@${SSH_SERVER_IP}" \
              "/home/${SSH_SERVER_USER_NAME}/scripts/deploy-uat.sh"

      - name: Cleanup SSH Key
        run: |
          rm -f $HOME/.ssh/id_rsa
